Repository rudderlabs/rudder-transformer, changes with the owners that CODEOWNERS names for each.
All owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations, @rudderlabs/warehouse

feat(destination): braze dedup (#1931)
  features.json
  src/util/prometheus.js
  src/v0/destinations/braze/braze.util.test.js
  src/v0/destinations/braze/config.js
  src/v0/destinations/braze/transform.js
  src/v0/destinations/braze/util.js
  src/v0/util/index.js
  test/__mocks__/axios.js
  test/__mocks__/braze.mock.js
  test/__mocks__/data/braze/response.json
  test/__tests__/braze.test.js
  test/__tests__/data/braze_batch_input.json
  test/__tests__/data/braze_batch_output.json
  test/__tests__/data/braze_output.json
  test/__tests__/data/braze_router_input.json
  test/__tests__/data/braze_router_output.json
  test/__tests__/data/test_router_output.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations

chore: refactored test package
  .eslintignore
  test/apitests/data_scenarios/cdk_v1/failure.json
  test/apitests/data_scenarios/cdk_v1/success.json
  test/apitests/data_scenarios/cdk_v2/failure.json
  test/apitests/data_scenarios/cdk_v2/success.json
  test/apitests/data_scenarios/destination/batch/failure_batch.json
  test/apitests/data_scenarios/destination/batch/successful_batch.json
  test/apitests/data_scenarios/destination/proc/batch_input.json
  test/apitests/data_scenarios/destination/proc/batch_input_multiplex.json
  test/apitests/data_scenarios/destination/proc/failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_partial_failure.json
  test/apitests/data_scenarios/destination/proc/multiplex_success.json
  test/apitests/data_scenarios/destination/proc/sucess.json
  test/apitests/data_scenarios/destination/router/failure_test.json
  test/apitests/data_scenarios/destination/router/successful_test.json
  test/apitests/data_scenarios/destination/router/two_destination_test.json
  test/apitests/data_scenarios/source/failure.json
  test/apitests/data_scenarios/source/response_to_caller.json
  test/apitests/data_scenarios/source/successful.json
  test/apitests/service.integration.test.ts
  test/cdk_postMapper/autopilot.test.js
  test/cdk_postMapper/dcm_floodlight.test.js
  test/cdk_postMapper/heap.test.js
  test/cdk_postMapper/kochava.test.js
  test/cdk_postMapper/lytics.test.js
  test/cdk_postMapper/new_relic.test.js
  test/cdk_postMapper/zapier.test.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

chore(release): 1.25.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

fix: home city value reference
  src/v0/destinations/braze/transform.js
Owners: @rudderlabs/integrations

introducing redis_error stat
  src/util/redisConnector.js
  src/util/stats.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

chore: update test configuration
  jest.config.integration.js
  test/apitests/service.integration.test.ts
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: modified custum attributes in group call intercom
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/data/INTERCOMIdentifyConfig.json
  src/v0/destinations/intercom/transform.js
  test/__tests__/data/intercom_input.json
  test/__tests__/data/intercom_output.json
Owners: @rudderlabs/integrations

test: extend/refactor test cases
  test/__tests__/trackingPlan.test.js
Owners: @rudderlabs/integrations

fix: call to lower case only when message.type is defined (#2109)
  src/warehouse/index.js
Owners: @rudderlabs/warehouse

introducing redis_latency stat
  src/util/stats.js
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations

comments addressed
  src/util/redisConnector.js
  src/v0/sources/shopify/config.js
  src/v0/sources/shopify/shopify.util.test.js
  src/v0/sources/shopify/util.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations

feat: add get accessToken method
  src/v0/destinations/bingads_audience/transform.js
Owners: @rudderlabs/integrations

feat: add optional chaining
  src/v0/destinations/klaviyo/util.js
Owners: @rudderlabs/integrations

CODEOWNERS:

* @rudderlabs/integrations-platform @sivashanmukh @lvrach
__tests__/ @rudderlabs/integrations
__mocks__/ @rudderlabs/integrations
v0/ @rudderlabs/integrations
cdk/ @rudderlabs/integrations
features.json/ @rudderlabs/integrations
constants/ @rudderlabs/integrations
warehouse/ @rudderlabs/warehouse
