Repository rudderlabs/rudder-transformer, changes with the owners that CODEOWNERS names for each.
All owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations, @rudderlabs/warehouse

CODEOWNERS:

* @rudderlabs/integrations-platform @sivashanmukh @lvrach
__tests__/ @rudderlabs/integrations
__mocks__/ @rudderlabs/integrations
v0/ @rudderlabs/integrations
cdk/ @rudderlabs/integrations
features.json/ @rudderlabs/integrations
constants/ @rudderlabs/integrations
warehouse/ @rudderlabs/warehouse

feat: added some more redis metric
  src/util/redisConnector.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: introduced additional variable for converDateTime for GAOC Store Conversion
  src/v0/destinations/google_adwords_offline_conversions/data/TrackAddStoreConversionsConfig.json
  test/__tests__/data/google_adwords_offline_conversions.json
Owners: @rudderlabs/integrations

fix: call to lower case only when message.type is defined
  src/warehouse/index.js
Owners: @rudderlabs/warehouse

feat: introduced additional variable for conversionDateTime for GAOC Stor… (#2108)
  src/v0/destinations/google_adwords_offline_conversions/data/TrackAddStoreConversionsConfig.json
  test/__tests__/data/google_adwords_offline_conversions.json
Owners: @rudderlabs/integrations

added extra padding for redis failure and passing events if redis error comes up
  src/util/redisConnector.js
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations

feat: intercom group support, bind user and company body update
  src/v0/destinations/intercom/transform.js
Owners: @rudderlabs/integrations

refactor: checkAndConnectConnection method
  src/util/redisConnector.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: tested redis
  src/util/redisConnector.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: added test cases
  test/__tests__/criteo_audience.test.js
  test/__tests__/data/criteo_audience_router_rETL_input.json
  test/__tests__/data/criteo_audience_router_rETL_output.json
Owners: @rudderlabs/integrations

feat: added test cases
  dist/src/warehouse/v1/util.js.map
  test/__tests__/data/criteo_audience_router_rETL_input.json
Owners: @rudderlabs/warehouse, @rudderlabs/integrations

Delete util.js.map
  dist/src/warehouse/v1/util.js.map
Owners: @rudderlabs/warehouse

feat: fetch audience id for retl source
  src/v0/destinations/criteo_audience/transform.js
Owners: @rudderlabs/integrations

feat: added missing output
  test/__tests__/data/criteo_audience_router_rETL_output.json
Owners: @rudderlabs/integrations

Delete transform.js
  dist/src/v0/destinations/criteo_audience/transform.js
Owners: @rudderlabs/integrations

feat: formatted
  dist/src/v0/destinations/criteo_audience/transform.js
Owners: @rudderlabs/integrations

feat: bugfix
  src/v0/destinations/criteo_audience/transform.js
Owners: @rudderlabs/integrations

feat: fetch audience id for retl criteo audience (#2058)
  src/v0/destinations/criteo_audience/transform.js
  test/__tests__/criteo_audience.test.js
  test/__tests__/data/criteo_audience_router_rETL_input.json
  test/__tests__/data/criteo_audience_router_rETL_output.json
Owners: @rudderlabs/integrations

docs: update read-me file to add steps to run transformer
  README.md
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

chore: update launch.json to debug transformer
  .vscode/launch.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

Update README.md with suggested changes
  README.md
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

Update README.md with suggested comment for setup
  README.md
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: update read me to address the suggested changes on setup steps
  README.md
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

chore: update read me and launch.json (#2110)
  .vscode/launch.json
  README.md
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

Update src/util/redisConnector.js
  src/util/redisConnector.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

refactor redis for incorporating end signal
  src/util/redisConnector.js
  src/v0/sources/shopify/transform.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach, @rudderlabs/integrations

refactor: removing unused constant for criteo audience
  src/v0/destinations/criteo_audience/transform.js
Owners: @rudderlabs/integrations

feat(intercom): separate calls to server for group
  src/v0/destinations/intercom/transform.js
  test/__tests__/data/intercom_input.json
  test/__tests__/data/intercom_output.json
Owners: @rudderlabs/integrations

feat(intercom): separate calls to server for group
  src/v0/destinations/intercom/transform.js
  test/__tests__/data/intercom_output.json
Owners: @rudderlabs/integrations

allow null vslues to be passed for standard properties
  src/v0/destinations/braze/transform.js
Owners: @rudderlabs/integrations

feat: braze alias call
  src/v0/destinations/braze/config.js
  src/v0/destinations/braze/data/BrazeAliasConfig.json
  src/v0/destinations/braze/transform.js
  test/__tests__/data/braze_input.json
  test/__tests__/data/braze_output.json
Owners: @rudderlabs/integrations

fix: gracefulshutdown in cluster mode
  src/index.ts
  src/routes/metricsRouter.js
  src/routes/misc.ts
  src/util/cluster.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

fix: remove skip verify flag
  src/v0/destinations/fb_custom_audience/transform.js
  src/v0/destinations/fb_custom_audience/util.js
Owners: @rudderlabs/integrations

comments addressed
  src/v0/sources/shopify/transform.js
  src/v0/sources/shopify/util.js
Owners: @rudderlabs/integrations

fix: gracefulshutdown (#2113)
  src/index.ts
  src/routes/metricsRouter.js
  src/routes/misc.ts
  src/util/cluster.js
Owners: @rudderlabs/integrations-platform, @sivashanmukh, @lvrach

feat: onboard bingads_audience destination
  src/v0/destinations/bingads_audience/config.js
  src/v0/destinations/bingads_audience/transform.js
  src/v0/destinations/bingads_audience/util.js
Owners: @rudderlabs/integrations

fix: implementation and testcases
  src/v0/destinations/braze/transform.js
  test/__tests__/data/braze_input.json
  test/__tests__/data/braze_output.json
Owners: @rudderlabs/integrations

test coverage increased
  test/__mocks__/redis.js
  test/__tests__/redisConnector.test.js
Owners: @rudderlabs/integrations

feat: comments addressed
  src/v0/destinations/intercom/data/INTERCOMGroupConfig.json
  src/v0/destinations/intercom/transform.js
  test/__tests__/data/intercom_input.json
  test/__tests__/data/intercom_output.json
Owners: @rudderlabs/integrations

test coverage increased
  test/__mocks__/redis.js
  test/__tests__/redisConnector.test.js
Owners: @rudderlabs/integrations

fix(attentive_tag): ecom events user object fix (#2106)
  src/v0/destinations/attentive_tag/transform.js
  test/__tests__/data/attentive_tag_input.json
  test/__tests__/data/attentive_tag_output.json
Owners: @rudderlabs/integrations
