Repository rudderlabs/rudder-transformer, changes with the owners that CODEOWNERS names for each.
All owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations, @psrikanth88

add email validation (#1085)
  __mocks__/data/mailchimp/response.json
  __mocks__/mailchimp.mock.js
  __tests__/data/mailchimp_input.json
  __tests__/data/mailchimp_output.json
  v0/destinations/mailchimp/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

updated comment
  __tests__/data/fb_output.json
  v0/destinations/fb/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

modified testcases
  __tests__/data/facebook_pixel_output.json
  __tests__/data/facebook_pixel_router_output.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

update custom error
  __tests__/data/fb_output.json
  v0/destinations/fb/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

typo check
  __tests__/data/facebook_pixel_output.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

Adding support for removing hyphens(-) from login-customer-id in GARL and GAEC. (#1095)
  __tests__/data/google_adwords_enhanced_conversions_input.json
  __tests__/data/google_adwords_enhanced_conversions_output.json
  __tests__/data/google_adwords_remarketing_lists_input.json
  __tests__/data/google_adwords_remarketing_lists_output.json
  v0/destinations/google_adwords_enhanced_conversions/transform.js
  v0/destinations/google_adwords_remarketing_lists/transform.js
  v0/util/index.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

update custom error
  __tests__/data/fb_output.json
  v0/destinations/fb/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

VDM-Marketo: added test cases
  __tests__/data/marketo_input.json
  __tests__/data/marketo_output.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

FB App Events: version migration to v13.0 (#1084)
  __tests__/data/fb_input.json
  __tests__/data/fb_output.json
  __tests__/data/fb_router_input.json
  v0/destinations/fb/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

Facebook Pixel event_id discrepancy (#1094)
  __tests__/data/facebook_pixel_output.json
  __tests__/data/facebook_pixel_router_output.json
  v0/destinations/facebook_pixel/data/FBPIXELCommonConfig.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

VDM-Marketo: bugfix and formatting
  __tests__/data/marketo_input.json
  __tests__/data/marketo_output.json
  v0/destinations/marketo/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

[Marketo Bulk Upload] Updating test cases
  __mocks__/data/marketo/response.json
  __tests__/data/marketo_bulk_upload_fileUpload_input.json
  __tests__/data/marketo_bulk_upload_fileUpload_output.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

VDM-Marketo: for debugging
  v0/destinations/marketo/transform.js
Owners: @rudderlabs/integrations

[Marketo Bulk Upload]: FileUpload TC7-8
  __mocks__/data/marketo/response.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

saas <- master (#1096)
  __mocks__/data/mailchimp/response.json
  __mocks__/mailchimp.mock.js
  __tests__/data/facebook_pixel_output.json
  __tests__/data/facebook_pixel_router_output.json
  __tests__/data/fb_input.json
  __tests__/data/fb_output.json
  __tests__/data/fb_router_input.json
  __tests__/data/google_adwords_enhanced_conversions_input.json
  __tests__/data/google_adwords_enhanced_conversions_output.json
  __tests__/data/google_adwords_remarketing_lists_input.json
  __tests__/data/google_adwords_remarketing_lists_output.json
  __tests__/data/mailchimp_input.json
  __tests__/data/mailchimp_output.json
  __tests__/data/mp_output.json
  __tests__/data/mp_router_output.json
  __tests__/data/zendesk_output.json
  v0/destinations/facebook_pixel/data/FBPIXELCommonConfig.json
  v0/destinations/fb/transform.js
  v0/destinations/google_adwords_enhanced_conversions/transform.js
  v0/destinations/google_adwords_remarketing_lists/transform.js
  v0/destinations/mailchimp/transform.js
  v0/destinations/mp/transform.js
  v0/destinations/zendesk/data/ZDIdentifyConfig.json
  v0/util/index.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

VDM-Marketo: removed logs
  v0/destinations/marketo/transform.js
Owners: @rudderlabs/integrations

updated testcases with residency server variable name
  __tests__/data/am_batch_input.json
  __tests__/data/am_batch_output.json
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

[Marketo Bulk Uplaod] All test cases fix
  __mocks__/data/marketo/response.json
  v0/destinations/marketo_bulk_upload/poll.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

solving cdk new destination onboarding problem
  versionedRouter.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

fix method for poll
  v0/destinations/marketo_bulk_upload/poll.js
Owners: @rudderlabs/integrations

address review comment: fix generic variable name
  v0/destinations/marketo_bulk_upload/poll.js
Owners: @rudderlabs/integrations

Code Review changes - Slight refactor - Remove commented code - Send parsedEvent instead of event for CDK destinations(bug-fix) - Revert code - Use CustomError instead of Error
  versionedRouter.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

am-eu-support (#1089)
  __tests__/data/am_batch_input.json
  __tests__/data/am_batch_output.json
  __tests__/data/am_input.json
  __tests__/data/am_output.json
  v0/destinations/am/config.js
  v0/destinations/am/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

Fix tests
  __tests__/data/mailchimp_output.json
  __tests__/data/mailchimp_router_output.json
  v0/destinations/mailchimp/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

Send merge fields when updating Mailchimp subscribers
  v0/destinations/mailchimp/transform.js
Owners: @rudderlabs/integrations

Change condition to `or`
  versionedRouter.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

Saas <- Master (#1100)
  __tests__/data/am_batch_input.json
  __tests__/data/am_batch_output.json
  __tests__/data/am_input.json
  __tests__/data/am_output.json
  v0/destinations/am/config.js
  v0/destinations/am/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

inline doc update
  versionedRouter.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

DCM initial commit
  cdk/dcm_floodlight/config.yaml
  cdk/dcm_floodlight/mapping/track.yaml
  cdk/dcm_floodlight/transform.js
  constants/destinationCanonicalNames.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

Testing with updated version with our normal UT logic
  util/customTransformer-v1.js
  util/ivmFactory.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

[Appsflyer Bugfix] Adding support for anonymousId in appsflyer source
  __tests__/appsflyer_source.test.js
  __tests__/data/appsflyer_source_output.json
  v0/sources/appsflyer/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

[Appsflyer Bugfix] Formatting fix
  v0/sources/appsflyer/transform.js
Owners: @rudderlabs/integrations

Appsflyer Bugfix - adding support for anonymousId in appsflyer source (#1104)
  __tests__/appsflyer_source.test.js
  __tests__/data/appsflyer_source_output.json
  v0/sources/appsflyer/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

remove unused require
  v0/destinations/marketo_bulk_upload/fetchJobStatus.js
Owners: @rudderlabs/integrations

[FB_Pixel]:: Adding verification for dynamicForm and dynamicSelectForm type config attributes.
  __tests__/data/facebook_pixel_input.json
  __tests__/data/facebook_pixel_output.json
  v0/destinations/facebook_pixel/transform.js
  v0/util/index.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

onboard posthog using cdk
  cdk/posthog/config.yaml
  cdk/posthog/mapping/alias.yaml
  cdk/posthog/mapping/group.yaml
  cdk/posthog/mapping/identify.yaml
  cdk/posthog/mapping/page.yaml
  cdk/posthog/mapping/screen.yaml
  cdk/posthog/mapping/track.yaml
  cdk/posthog/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

delete properties yaml
  cdk/posthog/properties.yaml
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh

VDM-Marketo changes (#1075)
  __tests__/data/marketo_input.json
  __tests__/data/marketo_output.json
  v0/destinations/marketo/transform.js
  v0/util/index.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

update api key authentication
  __tests__/data/airship_input.json
  __tests__/data/airship_output.json
  __tests__/data/airship_router_input.json
  __tests__/data/airship_router_output.json
  v0/destinations/airship/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

add API key validation
  __tests__/data/airship_input.json
  __tests__/data/airship_output.json
  v0/destinations/airship/transform.js
Owners: @sanpj2292, @saikumarrs, @arnab-p, @sivashanmukh, @rudderlabs/integrations

CODEOWNERS:

* @sanpj2292 @saikumarrs @arnab-p @sivashanmukh
v0/ @rudderlabs/integrations
adapters/ @rudderlabs/integrations
constants/ @rudderlabs/integrations
warehouse/ @sivashanmukh @psrikanth88
