Repository rudderlabs/rudder-transformer, changes with the owners that CODEOWNERS names for each.
All owners: @rudderlabs/integrations-platform, @sivashanmukh, @rudderlabs/integrations, @rudderlabs/data-management, @rudderlabs/warehouse

chore: tmp commit
  src/v0/destinations/klaviyo/config.js
  src/v0/destinations/klaviyo/transform.js
  src/v0/destinations/klaviyo/transformV2.js
  src/v0/destinations/klaviyo/util.js
  test/integrations/destinations/klaviyo/processor/dataV2.ts
  test/integrations/destinations/klaviyo/processor/identifyTestDataV2.ts
Owners: @rudderlabs/integrations, @rudderlabs/integrations-platform, @sivashanmukh

fix: update network handler
  src/v1/destinations/hs/networkHandler.ts
  test/integrations/destinations/hs/dataDelivery/business.ts
  test/integrations/destinations/hs/dataDelivery/other.ts
Owners: @rudderlabs/integrations-platform, @sivashanmukh

feat: adding unit test for utils
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
Owners: @rudderlabs/integrations

fix: add user-agent header in api calls
  src/cdk/v2/destinations/intercom/utils.js
  src/v0/destinations/intercom/networkHandler.js
Owners: @rudderlabs/integrations

chore(release): 1.71.2
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh

chore: update transformV2.js
  src/v0/destinations/klaviyo/transformV2.js
Owners: @rudderlabs/integrations

fix: intercom tests
  src/cdk/v2/destinations/intercom/utils.test.js
Owners: @rudderlabs/integrations

fix: include user-agent in test-cases
  test/integrations/destinations/intercom/dataDelivery/business.ts
  test/integrations/destinations/intercom/dataDelivery/other.ts
  test/integrations/destinations/intercom/processor/groupTestData.ts
  test/integrations/destinations/intercom/processor/identifyTestData.ts
  test/integrations/destinations/intercom/processor/trackTestData.ts
  test/integrations/destinations/intercom/router/data.ts
Owners: @rudderlabs/integrations-platform, @sivashanmukh

fix: override proxyRequest property in networkHandler
  src/v0/destinations/intercom/networkHandler.js
Owners: @rudderlabs/integrations

chore: update the networkHandler properties
  src/v0/destinations/intercom/networkHandler.js
Owners: @rudderlabs/integrations

fix: lint error
  src/v0/destinations/intercom/networkHandler.js
Owners: @rudderlabs/integrations

chore: add metadata information into intercom networkHandler
  src/v0/destinations/intercom/networkHandler.js
Owners: @rudderlabs/integrations

Update transformV2.js
  src/v0/destinations/klaviyo/transformV2.js
Owners: @rudderlabs/integrations

chore: update test cases
  src/cdk/v2/destinations/intercom/utils.js
  test/integrations/destinations/intercom/network.ts
Owners: @rudderlabs/integrations, @rudderlabs/integrations-platform, @sivashanmukh

chore: update mock and remove redundent test case
  test/integrations/destinations/intercom/network.ts
  test/integrations/destinations/intercom/router/data.ts
Owners: @rudderlabs/integrations-platform, @sivashanmukh

fix: fix unit test intercom
  src/cdk/v2/destinations/intercom/utils.test.js
Owners: @rudderlabs/integrations

chore(release): 1.71.3
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rudderlabs/integrations-platform, @sivashanmukh

feat: adding router tests
  src/cdk/v2/destinations/zoho/transformRecord.js
  src/cdk/v2/destinations/zoho/utils.js
  src/cdk/v2/destinations/zoho/utils.test.js
  test/integrations/destinations/zoho/common.ts
  test/integrations/destinations/zoho/router/data.ts
Owners: @rudderlabs/integrations, @rudderlabs/integrations-platform, @sivashanmukh

feat: editing batching logic
  src/cdk/v2/destinations/zoho/config.js
  src/cdk/v2/destinations/zoho/transformRecord.js
  test/integrations/destinations/zoho/mocks.ts
  test/integrations/destinations/zoho/router/data.ts
Owners: @rudderlabs/integrations, @rudderlabs/integrations-platform, @sivashanmukh

CODEOWNERS:

* @rudderlabs/integrations-platform @sivashanmukh
__tests__/ @rudderlabs/integrations @rudderlabs/data-management
__mocks__/ @rudderlabs/integrations
v0/ @rudderlabs/integrations
cdk/ @rudderlabs/integrations
src/features.json @rudderlabs/integrations
constants/ @rudderlabs/integrations
warehouse/ @rudderlabs/warehouse
src/util/ @rudderlabs/integrations @rudderlabs/data-management
*/trackingPlan.ts @rudderlabs/data-management
*/userTransform.ts @rudderlabs/data-management
